#coverimage {
  width: 100%;
  height:90vh;
  object-fit: cover;
}

#title{
text-align: center;
  font-size: 4em;
  color: #ffcc33;
  font-family: 'cutive mono';
  font-weight: bold;
  display: block;
}

.halfrow {
  background-color: #2d4430;
  color:white;
  margin: 40px;
  padding: 20px;
  text-align: center;
}

.color {
  height: 25vh;

}

#color1 {
  background-color: #743414;
}
#color2 {
  background-color: #574831;
}
#color3 {
  background-color: #0d2d00;
}
#color4 {
  background-color: #10100E;
}
#color5 {
  background-color: #6B6C62;
}

#pickcolor {
  height: 60vh;
  width: 100%;
  padding-top: 30vh;
  text-align: center;
}
